<div class="modal fade" id="carrito-compras">
      <div class="modal-dialog modal-dialog-centered w-50" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <div class="row">

              </div>
              <button type="button" class="btn btn-danger" id="btn-borrar">Borrar Prouctos del carro</button>
          </div>
        </div>
      </div>
</div>