        <script src="https://kit.fontawesome.com/c2c4e28f55.js" crossorigin="anonymous"></script>
        <script src="http://localhost:3000/jquery/jquery.min.js"></script>
        <script src="http://localhost:3000/bootstrap/js/bootstrap.bundle.min.js"></script>
            
    </body>
</html>