
<div class="col-4 mt-5">
    <p>{{ nombre }}</p></br> 
    <form id="btn-form">      
    <button type="button" class="btn btn-light btn-presionado" id="{{nombre}}">
        <img src="http://localhost:3000/imagenes/{{imagen}}" width="150px" height="auto" id="imagen">
    </button>
    </form> 
</div>    

